body{
    background: linear-gradient(to left top,rgb(214, 236, 88),rgb(106, 223, 131));
}

.container{
    text-align: center;
    margin-top: 300px;
} 

.resulttext{
    font-size: 3rem;
}

.backbutton{
    background-color: orange;
    font-size: 3rem;
    border: 2px solid red;
    color:black;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.4s;
    font-weight: bold;
    cursor:pointer;
}

.backbutton:hover{
    transform: scale(1.2);
    border-radius:20px;
}